{{define "title"}}About{{ end }}
{{define "main"}}
<section class="about">
  <div class="container">
    <h2>About</h2>
    <p>
      I recently built a forum using Go (Golang) that features robust
      authentication, allowing users to create accounts and log in securely. The
      forum enables users to post threads and messages, fostering engaging
      discussions within the community. To ensure up-to-date security measures,
      I've implemented CSRF tokens to protect against cross-site request forgery
      attacks, safeguarding user sessions during interactions. Additionally, the
      application is secured with TLS certificates, encrypting data in transit
      and ensuring that user information remains private and protected. This
      combination of features creates a safe and user-friendly environment for
      sharing ideas and engaging in meaningful conversations.
    </p>
  </div>
</section>
{{ end }}
