{{define "title"}}Edit Profile{{end}}

{{define "main"}}
<section class="update-account form">
  <div class="container">
    <div class="form-container">
      <h2>Change Password</h2>
      <form action="/account/password/update" method="POST" novalidate>
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}"/>
        {{ range.Form.NonFieldErrors }}
          <div class="error">{{.}}</div>
        {{ end }}
        <label>
          Current Password:
          {{ with.Form.FieldErrors.currentPassword }}
          <span class="error">{{.}}</span>
          {{ end }}
          <input type="password" name="currentPassword"/>
        </label>
        <label>
          New Password:
          {{ with.Form.FieldErrors.newPassword }}
          <span class="error">{{.}}</span>
          {{ end }}
          <input type="password" name="newPassword"/>
        </label>
        <label>
          Confirm New Password:
          {{ with.Form.FieldErrors.newPasswordConfirm }}
          <span class="error">{{.}}</span>
          {{ end }}
          <input type="password" name="newPasswordConfirm"/>
        </label>
        <button type="submit">Update Password</button>
      </form>
    </div>
  </div>
</section>
{{ end }}